@import 'tailwindcss';

@font-face {
  font-family: "Inter:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Extra Bold";
  font-style: normal;
  font-weight: 800;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Lora:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Lora_wght__2") format("woff2");
}
